* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


  --headings-font: 'Raleway', sans-serif;
  --headings-font-bold: 700;
  --headings-font-regular: 400;

  --body-font: 'Open Sans', sans-serif;
  --body-font-regular: 400;



  --very-dark-blue: #070439;
  --desaturated-blue: #585989;
  --bright-blue: #3065f8;
  --moderate-cyan: #3c9f8f;
  --light-grayish-blue: #f6f6fe;
  --light-gray: #bfbfbf;


  --transition: all 0.15s ease-in-out;
}

html {
  scroll-behavior: smooth;
}